<script>window.addEventListener("load", () => window.checkCookies())</script>
<h1>Staff</h1>
<div id="hierarchy">
    <h2>Hierarchy</h2>
    <p>
        Top<br><br>
        Administrator: The most experienced, most qualified, and most liked staff member.<br>
        Lead Developer: The most experienced and most qualified developer.<br>
        Owner: A owner of some part of JazhdoMC.<br>
        Lead Moderator: The most experienced and most qualified moderator.<br>
        Vice Administrator: A helper of the administrator who can take over their role if ever needed.<br>
        Senior Developer: A very experienced and very qualified developer.<br>
        Senior Moderator: A very experienced and very qualified moderator.<br>
        Experienced Developer: A experienced and qualified developer.<br>
        Experienced Moderator: A experienced and qualified moderator.<br>
        Junior Developer: A entry level developer.<br>
        Junior Moderator: A entry level moderator.<br>
        Builder: A builder of a public structure.<br>
        Event Winner: A winner of a event.<br>
        Player: A player of the server.<br><br>
        Bottom
    </p>
</div>
<div id="roles"></div>
<script type="module" src="/js/staff"></script>